@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

:root {
    --font-family: "Source Sans Pro", sans-serif;
    --font-size: 20px;
    --app-button-size: 2.4rem;
    --font-color: #E3ECFF;
    --font-subcolor: #C7D9F9;
    --background-color-darker: #101010;
    --background-color-primary: #141414;
    --background-color-lighter: #242424;
    --button-color-purple: #A257ED;
    --button-color-teal: #00DBFF;
    --button-color-green: #0b6506;
    --button-color-red: #AB0C0C
}

body,html {
    width: 100%;
    height: 100%;
    margin: 0 auto
}

html {
    font-size: var(--font-size);
    font-family: var(--font-family)
}

body {
    padding: 1rem .5rem .5rem;
    box-sizing: border-box;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: .25fr 1fr;
    grid-template-rows: var(--app-button-size) 1.6rem 1fr;
    background-color: var(--background-color-darker);
    color: var(--font-color);
    user-select: none
}

select {
    cursor: pointer
}

input[type=number],input[type=text],select {
    height: 2rem;
    width: -webkit-fill-available;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: var(--font-size);
    color: var(--font-color);
    background-color: var(--background-color-lighter);
    border-radius: .4rem;
    border: 0;
    outline: 0;
    text-align: center
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none
}

.app-button,.top-menu {
    height: var(--app-button-size);
    border-radius: .4rem
}

.app-button {
    width: var(--app-button-size);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

.top-menu {
    grid-column: span 2;
    grid-row: 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr
}

.app-button>.button-icon,.app-button>img {
    width: 80%;
    height: 80%
}

.top-menu>.app-button {
    justify-self: center;
    background-color: transparent
}

#copy>.button-icon::after,.top-menu>.app-button>.button-icon::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    opacity: 1;
    transition: all .2s ease-in-out
}

#open>.button-icon::before {
    -webkit-mask-image: url(../images/open-mask.png);
    mask-image: url(../images/open-mask.png)
}

#game-mode>.button-icon::before {
    -webkit-mask-image: url(../images/game-mode-mask.png);
    mask-image: url(../images/game-mode-mask.png)
}

#copy>.button-icon {
    position: relative
}

#copy>.button-icon::before {
    position: absolute;
    -webkit-mask-image: url(../images/copy-mask-1.png);
    mask-image: url(../images/copy-mask-1.png)
}

#copy>.button-icon::after {
    position: absolute;
    -webkit-mask-image: url(../images/copy-mask-2.png);
    mask-image: url(../images/copy-mask-2.png)
}

#apply>.button-icon::before {
    -webkit-mask-image: url(../images/apply-mask.png);
    mask-image: url(../images/apply-mask.png)
}

#discard>.button-icon::before {
    -webkit-mask-image: url(../images/discard-mask.png);
    mask-image: url(../images/discard-mask.png)
}

#game-mode:not(.disabled)>.button-icon::before,#open:not(.disabled)>.button-icon::before {
    background-color: var(--font-subcolor)
}

#game-mode.disabled:hover>.button-icon::before,#open.disabled:hover>.button-icon::before {
    background-color: var(--font-subcolor);
    opacity: .6
}

#copy:not(.disabled)>.button-icon::before {
    background-color: var(--button-color-purple)
}

#copy:not(.disabled)>.button-icon::after {
    background-color: var(--button-color-teal)
}

#apply:not(.disabled)>.button-icon::before {
    background-color: var(--button-color-green)
}

#discard:not(.disabled)>.button-icon::before {
    background-color: var(--button-color-red)
}

#apply.disabled,#copy.disabled,#discard.disabled {
    pointer-events: none
}

#apply:not(.disabled):hover,#copy:not(.disabled):hover,#discard:not(.disabled):hover {
    background-color: var(--background-color-lighter)
}

#copy.disabled>.button-icon::after,.top-menu>.app-button.disabled>.button-icon::before {
    background-color: var(--background-color-lighter)
}

body>label {
    width: 100%;
    align-self: center;
    text-align: center
}

#settings-label {
    grid-row: 2;
    grid-column: 1
}

#tab-label {
    grid-row: 2;
    grid-column: 2
}

.main,.navbar {
    width: 100%;
    height: 100%;
    background-color: var(--background-color-primary);
    border-radius: .5rem
}

.navbar {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}

#apply,#copy,#discard,.navbar>.app-button {
    transition: background-color .2s ease-in-out
}

.navbar>.app-button {
    margin-top: .5rem
}

.navbar>.app-button:last-of-type {
    margin-top: auto;
    margin-bottom: .5rem
}

.navbar>.app-button:hover {
    background-color: var(--background-color-lighter)
}

.main {
    grid-column: 2;
    grid-row: 3;
    overflow: hidden
}

.content-wrapper {
    height: calc(100% - 1rem);
    box-sizing: border-box;
    margin: .5rem .5rem .5rem 1rem;
    overflow: hidden;
    position: relative
}

.tab {
    height: 100%;
    display: none;
    overflow: auto;
    position: relative;
    padding-right: .5rem
}

.tab.active {
    display: block
}

::-webkit-scrollbar {
    width: .5rem
}

::-webkit-scrollbar-thumb {
    background: var(--background-color-lighter);
    background-clip: content-box;
    border-radius: .5rem
}